@use '../abstract/variables' as *;
@use '../abstract/functionality' as*;
.header {
    @include respond-to(medium){
        padding: clamp(3.5rem, 2.266rem + 3.038vw, 6rem)  0rem 2rem;
        min-width: 50rem;
        align-self: center;

    }
    display: grid;
    align-items: center;
    align-self: stretch;
    gap:2rem;
    padding: clamp(2rem, -0.727rem + 11.636vw, 4rem) 2.5rem;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .theme-switcher {

    }
    .todo-creator {
        display: inline-flex;
        align-items: center;
        border-radius: 8px;
        background: $clr-n-lth-v-l-gray;
        gap:1rem;
        padding: 1.2rem 2rem;
        .square {
            background: transparent;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: $clr-n-lth-d-g-blue 1px solid;
        }
        .todo-input{
            background: transparent;
            border: none;
            color: $clr-n-lth-d-g-blue;
            
        }
    }
    

}


